<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/styles.css">
<body class="account-body">
    <div>
        <div class="login-container">
            <main class="form-login">
                <% message %>
            </main>
        </div>
    </div>
</body>
</html>