<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
<body>
    <div class="body-layout">
        <main>
            <form class="form-register" action="" method="post">
                <input type="email" name="account_email" required>
                <label for="account_email">Email:</label>
                <input type="password" name="account_password" required>
                <label for="account_password">Email:</label>
                <input class="login-btn" type="submit" name="LOGIN">
                <span>No account? <a href="/account/register">Sign-up</a></span>
            </form>
        </main>
    </div>
</body>
</html>