<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/styles.css">
<body class="account-body">
    <div>
        <div class="register-container">
        <main class="form-register">
            <form action="/account/register" method="post">
                <div class="login-wrapper">
                    <label for="account_firstname">First name</label>
                    <input type="text" name="account_firstname">
                    <label for="account_lasttname">Last name</label>
                    <input type="text" name="account_lasttname">
                    <label for="account_email">Email</label>
                    <input type="email" name="account_email">
                    <label for="account_password">Password</label>
                    <input type="password" name="account_password">
                </div>
                <button class="register-btn">Register</button>
            </form>
        </main>
        </div>
    </div>
</body>
</html>