<link rel="stylesheet" href="css/styles.css">
<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">& copy ; <%= year %>, CSE 340 App</p>
  <a href="/error-test">Error Link</a>
</footer>