<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
<body>
    <div class="body-layout">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>

        <main>
            <h1>Welcome to CSE Motors!</h1>
        </main>

        <%- include('../partials/footer') %>
    </div>
</body>
</html>