/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto;
}

header {
  display: flex;
  padding: 10px;
  background-color: #c3c3c3c3;
  align-items: center;
}

nav {
  display: flex;
  margin-left: 15rem;
}

nav a{
  text-decoration: none;
  margin-left: 20px;
}

nav a:hover{
  padding: 10px;
  background-color: black;
  color: white;
}

.siteName a{
  text-decoration: none;
}

#tools {
  margin-left: 15rem;
}