<%# messages() %>
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/styles.css">
<%- include('../partials/head') %>
<body>
    <header>
        <h1><%= title %></h1>
    </header>
    <main>
        <%= vehicleHtml %>
    </main>
</body>
</html>
